
IMAGE_VERSION=0.0.1
IMAGE_NAME=ai_agents

IMAGE_VERSION_MYSQL=0.0.1
IMAGE_NAME_MYSQL=ai_mysql

DOCKER_PREFIX=

#### gcloud ####

LOCATION=us-central1
PROJECT_ID=
REPOSITORY_NAME=
REGISTRY_PREFIX=$(LOCATION)-docker.pkg.dev/$(PROJECT_ID)/$(REPOSITORY_NAME)
